elasticsearch==8.11.0
langchain==0.1.0
sentence-transformers==2.2.2
zhipuai==2.0.1
openai==1.6.1
pandas==2.1.4
numpy==1.24.3
optuna==3.5.0
scikit-learn==1.3.2
tqdm==4.66.1
bert-score==0.3.13
torch==2.1.2
tiktoken==0.12.0